*{
    padding: 0;
    margin:0 0 20px 0;
    box-sizing:border-box;
}
body{
    text-align:center;
    padding-top:150px;
}
.text-success{
    color:#0bc50b;
    font-size: larger;
    font-weight: bolder;
}
.text-danger{
   color:#eb1912;
   font-size: large;
   font-weight: bolder;
}
.text-inverse{
    color:#292b2c;
}
.text-faded{
    color:#0011ff;
}
button{
    padding:5px 15px;
    background-color:#0275d8;
    color:#fff;
    border:none;
    cursor:pointer;
}
button:hover{
    background-color:#0059a7;
}
.text-info{
    color:#5bc0de;
}
.text-warning{
    color:#f0ad4e;
}
#answer,#com-answer{
    text-align: center;
    border-radius:5px;
    color:navy;
}